.location {
  background: #000000 url('https://cdn.glitch.com/1db8d091-7a7f-4d80-a4fe-2ae6168bd7a9%2Flocationbg-min.jpg?v=1583155437206') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}

.location .info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.location .info-container .info {
  display: flex;
  background-color: #090909;
  min-width: 280px;
  height: 120px;
  margin: 10px 10px;
  line-height: 1.8rem;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.location .info-container .info:hover {
  background-color: #E62B1E;
  color: #000000;
}

.location .info-container .info .left-part {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.location .info-container .info .left-part svg {
  fill: #E62B1E;
  transition: color 300ms ease-in-out;
}

.location .info-container .info:hover .left-part svg {
  fill: #FFFFFF;
}

.location .info-container .info .right-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location .info-container .info .right-part .label {
  font-weight: 700;
  font-size: 1.2rem;
}

.location .info-container .info .right-part .value {
  color: #999999;
  transition: color 300ms ease-in-out;
}
.location .info-container .info:hover .right-part .value {
  color: #222222;
}